name: CI/CD pipeline

on:
  push:
    branches: ['main']

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24

      - name: Install dependencies
        run: npm clean-install

      - name: Run ESLint
        run: npm run lint

  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    needs: lint

    permissions:
      contents: read
      id-token: write

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24

      - name: Install dependencies
        run: npm clean-install

      - name: Build the project
        run: npm run build

      - name: Authenticate to Google Cloud
        id: gcp-auth
        uses: google-github-actions/auth@v3
        with:
          token_format: access_token
          workload_identity_provider: ${{ secrets.GCP_WIF_PROVIDER }}
          service_account: ${{ secrets.GCP_WIF_SERVICE_ACCOUNT }}

      - name: Authenticate to Docker
        uses: docker/login-action@v3
        with:
          username: oauth2accesstoken
          password: ${{ steps.gcp-auth.outputs.access_token }}
          registry: ${{ vars.GCP_REGION }}-docker.pkg.dev

      - name: Build, tag and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ${{ vars.GCP_REGION }}-docker.pkg.dev/${{ secrets.GCP_PROJECT_ID }}/webgl-solitaire/webgl-solitaire:${{ github.sha }}

      - name: Deploy to Google Cloud Run
        uses: google-github-actions/deploy-cloudrun@v3
        with:
          service: webgl-solitaire
          region: ${{ vars.GCP_REGION }}
          image: ${{ vars.GCP_REGION }}-docker.pkg.dev/${{ secrets.GCP_PROJECT_ID }}/webgl-solitaire/webgl-solitaire:${{ github.sha }}
